<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1> 홈페이지에 오신 것을 환영합니다. </h1>
    
    <header style="border-bottom: 1px solid lightgray; margin-bottom: 10px; padding-bottom: 10px;">
        <nav>
            <a href="/">홈</a>
            <a href="/profile">프로필</a>
            <a href="/visit">찾아오시는길</a>
            <a href="/boards">게시판</a>
            <a href="/users">회원</a>
            <a href="/contact">문의하기</a>
        </nav>
    </header>