<%-include('header.ejs')%>

<ul>
    <li>이름 : 김인용</li>
    <li>이메일 : <a href="mailto:citefred@gmail.com">citefred@gmail.com</a></li>
    <li>블로그 : <a href="http://www.citefred.com">http://www.citefred.com</a></li>
</ul>

<%-include('footer.ejs')%>